<meta charset="utf-8">
<meta name="viewport" content="width=1920, height=1080">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Bricolage+Grotesque:opsz,wght@12..96,400;12..96,500&display=swap">
<link rel="stylesheet" href="/css/brand.css">
<link rel="stylesheet" href="/css/stream.css">
<script src="/js/theme.js"></script>
<script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.min.js"></script>
